.title {
  text-align: center;
  color: hsl(234, 66%, 38%);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2rem 0;
}

.title h2 {
  font-size: 2.5rem;
  color: #000f38;
  margin-top: 5px;
  text-transform: none;
}
